<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<%= link_to 'Edit', edit_list_step_path(@list, step) %> |
<%= link_to 'Delete', list_step_path(@list, step), method: :delete %>
